<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>577579882957-5eldiv2k19bpipfgesbgh1p23j83pinq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.577579882957-5eldiv2k19bpipfgesbgh1p23j83pinq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>577579882957-k0i29ame6890bi2a7hbhl4e3c5akmai8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCRUT9aqmnrE9hn30XMrWeRM62O_hhI_V4</string>
	<key>GCM_SENDER_ID</key>
	<string>577579882957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterHeartrate</string>
	<key>PROJECT_ID</key>
	<string>heart-rate-app-fcd3b</string>
	<key>STORAGE_BUCKET</key>
	<string>heart-rate-app-fcd3b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577579882957:ios:23bd3596f292da039f4c84</string>
</dict>
</plist>